* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle {
    background: -webkit-linear-gradient(90deg, #c80806,#8c8a0b,#69ba99);/* Chrome 10-25, Safari 5.1-6 */                          background: linear-gradient(90deg, #c80806,#8c8a0b,#69ba99);/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */                                             
    border-radius: 50%; 
    width: 500px;
    height: 500px;
    animation: rotate 10s;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(20000deg);
    }

    100% {
        transform: rotate(0deg);
    }
}