@font-face {
  font-family: "TildaSans-VF";
  src: url(fonts/TildaSans-VF.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "TildaSans-VF";
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
  gap: 24px;
  background-color: #1c1c1c;
}

header {
  width: 100%;
  height: 10%;
  border: 2px red solid;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 930px;
  gap: 16px;
  border: 2px red solid;
}

a {
  text-decoration: none;
}

main nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding: 8px;
  border: 2px green solid;
}

main nav a {
  padding: 8px 16px;
  background-color: #000;
  color: #fff;
  border-radius: 16px;
  font-size: 36px;
  font-weight: 700;
  transition: all 0.5s ease-in-out;
}

main nav a:hover {
  transition: all 0.5s ease-in-out;
  background-color: #fff;
  color: #000;
  transform: scale(1.05);
}

main .gamebox {
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: center;
  border: 2px blue solid;
  width: 100%;
  height: 100%;
}

main .gamebox .rightbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 65%;
  padding: 8px;
  gap: 16px;
  height: 100%;
}

main .gamebox .rightbox .game-info {
  border: 2px red solid;
  width: 100%;
  height: 70%;
}

main .gamebox .rightbox .bet-info {
  border: 2px green solid;
  width: 100%;
  height: 30%;
}

main .gamebox .leftbox {
  display: flex;
  padding: 8px;
  gap: 16px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 35%;
}

main .gamebox .leftbox .betbox {
  border: 2px green solid;
  width: 100%;
  height: 35%;
}

main .gamebox .leftbox .chatbox {
  border: 2px red solid;
  width: 100%;
  height: 65%;
}

