@font-face {
    font-family: StyreneAWeb;
    font-weight: 600;
    src: url(fonts/StyreneAWeb-Black.ttf);
}

@font-face {
    font-family: StyreneAWeb;
    font-weight: 500;
    src:url(fonts/StyreneAWeb-Medium.ttf);
}

@font-face {
    font-family: StyreneAWeb;
    font-weight: 400;
    src: url(fonts/StyreneAWeb-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
    padding: 8px;
    display: flex;
    flex-direction: column;
    background-color: #1A1A2E;
    align-items: center;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    font-family: StyreneAWeb;
}

header {
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

header .logo-text {
    cursor: pointer;
    font-size: 64px;
    font-weight: 600;
    line-height: 64px;
    color: #E94560;
}

header .userbox {
    gap: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

header .userbox .user-info {
    gap: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

header .userbox .user-info .textbox {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
}

header .userbox .user-info .textbox .balance {
    color: #E94560;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
}

header .userbox .user-info .avatar {
    background-color: #fff;
    width: 64px;
    height: 64px;
    border-radius: 16px;
}

header .userbox button {
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: none;
}

header nav {
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
}

header nav button {
    cursor: pointer;
    padding: 24px 19px;
    border: 2px #E94560 solid;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: StyreneAWeb;
    color: #fff;
    background-color: transparent;
    outline: none;
    font-size: 26px;
    line-height: 26px;
    font-weight: 500;
    gap: 8px;
    transition: 1s background-color ease-in-out;
}

header nav button:hover {
    transition: 1s background-color ease-in-out;
    background-color: #E94560;
}

header nav .active-btn {
    background-color: #E94560;
}

main {
    gap: 8px;
    width: 100%;
    height: 100%;
    display: flex;
    border: 2px red solid;
    padding: 8px;
}

main .history-box {
    width: 20%;
    height: 100%;
    border: 2px red solid;
}

main .game-info-box {
    border: 2px green solid;
    width: 100%;
    height: 100%;
}

main .card {
    padding: 8px;
    border: 2px red solid;
    width: 270px;
    display: flex;
    gap: 8px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main .card .textbox {
    display: flex;
    flex-direction: column;
    gap: 2px;
    width: 100%;
}

main .card .textbox .case-name {
    font-size: 24px;
    line-height: 26px;
    font-weight: 600;
    color: #fff;
}

main .card .textbox .count {
    color: #727272 ;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
}

main .card button {
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: transparent;
    border: 2px #E94560 solid;
    color: #fff;
    font-size: 26px;
    line-height: 26px;
    font-weight: 600;
    display: flex;
    gap: 8px;
    border-radius: 16px;
    padding: 19px 24px;
}

main .cardbox {
    display: flex;
}