@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
    font-family: "Some_Times_Later";
    font-weight: 400;
    src: url(fonts/Some_Times_Later.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --design-font: "Some_Times_Later";
    --grotesk-font: "Poppins", serif;
    --heading-text-color: #40F00F;
    --text-color: #FFA200;
    --secondary-color: #FFEA00;
}

body {
    overflow-x: hidden;
    background-color: #0008FF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    padding: 16px;
    gap: 32px;
}

body::-webkit-scrollbar {
    width: 12px;
}

body::-webkit-scrollbar-track {
    background: #0008FF;
}

body::-webkit-scrollbar-thumb {
    background-color: var(--secondary-color) ;
    border-radius: 20px;
    border: 2px solid #0008FF;
}

.welcome-page {
    border: 2px var(--secondary-color) solid;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.welcome-page .welcome-text {
    text-align: center;
    width: 49%;
    color: var(--text-color);
    font-family: var(--grotesk-font);
    font-size: 36px;
    line-height: 48px;
    font-weight: 500;
}

.about-me-page {
    border: 2px var(--secondary-color) solid;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
    padding: 16px;
}

.about-me-page .person-image {
    height: 90%;
}

.about-me-page .textbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 32px;
    padding: 16px;
}

.textbox .heading-text {
    width: 100%;
    text-align: start;
    font-family: var(--design-font);
    font-size: 96px;
    line-height: 96px;
    color: var(--heading-text-color);
}

.textbox .cardbox-layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    gap: 32px;
}

.cardbox-layout .cardbox {
    width: 100%;
    gap: 32px;
    padding: 0px 32px;
    display: flex;
    align-items: center;
    justify-content: start;
}

.cardbox-layout .cardbox.middle {
    justify-content: end;
}

.cardbox-layout .cardbox .card {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding: 0;
    position: relative;
}

.cardbox-layout .cardbox .card .heading-text {
    width: auto;
    position: absolute;
    right: 24px;
    top: -20px;
    font-size: 64px;
    line-height: 64px;
    color: var(--text-color);
}

.cardbox-layout .cardbox .card .paragraph-text {
    color: var(--text-color);
    font-family: var(--grotesk-font);
    font-size: 24px;
    background-color: #114E00;
    padding: 48px 36px 36px 36px;
    line-height: 36px;
}

.cardbox-layout .cardbox.middle .card .textbox {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 8px;
    padding: 32px 124px 16px 16px;
    background-color: #114E00;
}

.cardbox-layout .cardbox.down .card .heading-text {
    position: relative;
}

.cardbox-layout .cardbox.down .card .heading-text {
    position: absolute;
    left: 25px;
}

.cardbox-layout .cardbox.middle .card .heading-text {
    position: absolute;
    left: 24px;
    top: -35px;
}

.cardbox-layout .cardbox.middle .card .textbox .contact-info {
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: center;
}

.cardbox-layout .cardbox.middle .card .textbox .contact-info .line {
    height: 24px;
    width: 4px;
    background-color: var(--text-color);
}

.cardbox-layout .cardbox.middle .card .textbox .contact-info p {
    padding: 0;
    color: #fff;
    background-color: transparent;
}

.cardbox .card .russian-language, .cardbox .card .english-language{
    width: 100%;
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: center;
    background-color: #114E00;
    padding: 8px;
}

.cardbox .card .russian-language .block-box, .cardbox .card .english-language .block-box {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 4px;
    width: 100%;
}

.block {
    border-radius: 8px;
    width: 48px;
    height: 18px;
    background-color: #fff;
}

.block.active {
    background-color: var(--text-color);
}

.cardbox .card .russian-language {
    padding: 48px 48px 8px 16px;
}

.cardbox .card .english-language {
    padding: 8px 48px 36px 16px;
}
.cardbox .card .russian-language .paragraph-text, .cardbox .card  .english-language .paragraph-text{
    padding: 0px;
}

nav {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 8px;
}

nav p {
    font-family: var(--design-font);
    font-weight: 400;
    font-size: 36px;
    line-height: 36px   ;
    color: var(--secondary-color);
}

nav .line {
    border-radius: 16px;
    width: 12px;
    height: 100%;
    background-color: #727272;
}

nav .line.active {
    height: 180px;
    background-color: var(--secondary-color);
}

.skills-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 16px 16px 16px 24px;
    gap: 16px;
    border-radius: 64px;
    width: 100%;
    border: 6px var(--heading-text-color) solid;
}

.skills-box .heading-text {
    font-size: 96px;
    line-height: 96px;
    font-family: var(--design-font);
    color: var(--heading-text-color);
}

.skills-box .skills-list {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    width: 100%;
    gap: 48px;
}

