@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Zen+Dots&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-color: #FDEB71;
    --background-color: #000000;
    --secondary-color: #74FDFD;
    --text-color: #ffffff;
    --heading-text: "Zen Dots", sans-serif;
    --paragraph-text: "DM Sans", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 8px;
    gap: 16px;
    /* width: 100%; */
    height: auto;
    background-color: var(--background-color);
    font-size: 16px;
    overflow-x: hidden;
}


body::-webkit-scrollbar {
    width: 12px;
}

body::-webkit-scrollbar-track {
    background: var(--background-color);
}

body::-webkit-scrollbar-thumb {
    background-color: var(--secondary-color) ;
    border-radius: 20px;
    border: 2px solid var(--background-color);
}

.back-link {
    color: #ffffff;
    top: 16px;
    left: 16px;
    z-index: 999;
    position: fixed;
    width: 48px;
    height: 48px;
}

.start-section {
    display: flex;
    gap: 18px;
    position: relative;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

.start-section .background {
    position: absolute;
    z-index: -1;
    right: -150px;
}

.start-section .textbox {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.start-section .person-image {
    width: 50%;
}

.start-section .textbox .heading-text {
    font-family: var(--heading-text);
    font-size: clamp(7rem, 15rem, 24rem);
    color: var(--main-color);
}

.start-section .textbox .paragraph-text {
    width: 70%;
    font-family: var(--paragraph-text);
    font-size: clamp(2rem, 4rem, 6rem);
    color: var(--secondary-color);
    font-weight: 700;
}

.welcome-section {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: end;
    padding: 16px;
    justify-content: space-between;
    flex-direction: column;
}

.welcome-section .background-left {
    position: absolute;
    z-index: -1;
    left: 0px;
}

.welcome-section .background-right {
    position: absolute;
    z-index: -1;
    right: 0px;
}

.welcome-section .heading-text {
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: start;
    font-family: var(--heading-text);
    color: var(--main-color);
    font-size: clamp(3rem, 7rem, 12rem);
}

.welcome-section .paragraph-text {
    text-align: end;
    width: 37%;
    display: flex;
    align-items: end;
    justify-content: center;
    font-family: var(--paragraph-text);
    color: var(--text-color);
    font-size: clamp(0.5rem, 2rem, 3rem);
}

.table-section {
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.table-section .background {
    position: absolute;
    right: 0px;
    z-index: -1;
}

.table-section .textbox-left, .textbox-right {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    color: var(--text-color);
    gap: 108px;
}

.table-section .textbox-right {
    align-items: start;
}  

.table-section .textbox-left .card, .textbox-right .card {
    display: flex;
    gap: 16px;
    align-items: center;
}

.textbox-right .card {
    flex-direction: row-reverse;
}

.table-section .textbox-left .card .textbox, .textbox-right .card .textbox {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: end;
}

.textbox-right .card .textbox {
    align-items: start;
}

.table-section .textbox-left .card .heading-text, .textbox-right .card .heading-text {
    text-align: end;
    font-size: clamp(1rem, 2rem, 4rem);
    font-family: var(--heading-text);
}

.table-section .textbox-left .card .number, .textbox-right .card .number {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 128px;
    height: 128px;
    font-size: clamp(1rem, 2rem, 4rem);
    color: var(--secondary-color);
    border: 3px var(--secondary-color) solid;
    font-family: var(--heading-text);
}

.table-section .textbox-left .card .paragraph-text, .textbox-right .card .paragraph-text {
    font-family: var(--paragraph-text);
    font-size: clamp(0.5rem, 1.4rem, 3rem);
}